[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"
flake8 = "*"
isort = "*"

[packages]
click = "==7.1.2"
numpy = "==1.20.1"

[requires]
python_version = "3.9"
